@model IEnumerable<AccessCorpFormulario.Domain.ModelView.FormularioModelView>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Criar novo Formulário", "Cadastro")
</p>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFormulario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVencimentoInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVencimentoFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th>
            Ação
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFormulario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVencimentoInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVencimentoFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.IdFormulario }) | 
            @Html.ActionLink("Exibir Formulário", "Exibir", new { id = item.IdFormulario })
        </td>
    </tr>
}

</table>
